<div ng-controller="addCtrl">
	<h1>Add zadatak</h1>
	
	<form>
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input class="form-control" id="naziv" ng-model="new.naziv">
		</div>
		<div class="form-group">
			<label for="zaduzeni">Zaduženi</label>
			<input class="form-control" id="zaduzeni" ng-model="new.zaduzeni">
		</div>
		<div class="form-group">
			<label for="sati">Procenjeno sati</label>
			<input class="form-control" id="sati" ng-model="new.sati">
		</div>
		<div class="form-group">
			<label for="opis">Opis</label>
			<input class="form-control" id="opis" ng-model="new.opis">
		</div>
		
		<div class="form-group">
			<label for="projekat">Projekat</label>
			<select class="form-control" id="projekat" ng-model="new.projekatId">
				<option ng-repeat="p in projekti" value="{{p.id}}">{{p.naziv}}</option>
			</select>
		</div>
		<button class="btn btn-primary" ng-click="save()">Add</button>
	</form>
</div>