<div ng-controller="editCtrl">
	<h1>Edit zadatak</h1>
	
	<form>
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input class="form-control" id="naziv" ng-model="old.naziv">
		</div>
		<div class="form-group">
			<label for="zaduzeni">Zaduženi</label>
			<input class="form-control" id="zaduzeni" ng-model="old.zaduzeni">
		</div>
		<div class="form-group">
			<label for="sati">Procenjeno sati</label>
			<input class="form-control" id="sati" ng-model="old.sati">
		</div>
		<div class="form-group">
			<label for="opis">Opis</label>
			<input class="form-control" id="opis" ng-model="old.opis">
		</div>
		
		<div class="form-group">
			<label for="projekat">Projekat</label>
			<select class="form-control" id="projekat" ng-model="old.projekatId" ng-options="p.id as p.naziv for p in projekti">
				
			</select>
		</div>
		<button class="btn btn-primary" ng-click="save()">Save changes</button>
	</form>
</div>