<div ng-controller="mainCtrl">


	Ukupno stranica: 
	<div class="badge">
		{{totalPages}}
	</div>
	<div class="btn-group pull-right">
		<button ng-disabled="pageNum == 0" ng-click="go(-1)" class="btn btn-info">Prethodna</button>
		<button ng-disabled="pageNum == totalPages - 1" ng-click="go(1)" class="btn btn-info">Sledeca</button>
	</div>
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Zaduženi</th>
				<th>Procenjeno sati</th>
				<th>Opis</th>
				<th>Projekat</th>
				<th>Stanje</th>
				<th>Operacije</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in zadaci">
				<td>{{x.naziv}}</td>
				<td>{{x.zaduzeni}}</td>
				<td>{{x.sati}}</td>
				<td>{{x.opis}}</td>
				<td>{{x.projekatNaziv}}</td>
				<td>{{x.stanjeNaziv}}</td>
				<td> <button class="btn btn-danger" ng-click="delete(x.id)"> Obrisi </button> 
				 <button class="btn btn-warning" ng-click="izmeni(x.id)"> Izmeni </button> 
				 <button class="btn btn-info" ng-click="promeniStanje(x.id)" ng-disabled="x.stanjeId==3">Novo stanje</button>
				</td>
			</tr>
		</tbody>
	</table>	
	Ukupno sati za zadatke: {{ukupnoSati}}
	<hr>
	<br>
	<button ng-click="dodaj()" class="btn btn-primary">Add</button>
	<hr>
	<br>
	<form>
		<div  class="form-group">
			<label for="naziv">Naziv</label>
			<input ng-model="search.naziv" class="form-control" id="naziv">
		</div>
		<div  class="form-group">
			<label for="zaduzeni">Zaduženi</label>
			<input ng-model="search.zaduzeni" class="form-control" id="zaduzeni">
		</div>
		<div class="form-group">
			<label for="projekat">Projekat</label>
			<select class="form-control" id="projekat" ng-model="search.projekatId">
				<option ng-repeat="p in projekti" value="{{p.id}}">{{p.naziv}}</option>
			</select>
		</div>
		
		<button ng-click="pretraga()" class="btn btn-primary">Pretrazi</button>
		<button ng-click="ponisti()" class="btn btn-info">Ponisti</button>
	</form>
</div>
